
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    padding-bottom: 0px; 
}
.grid-container{
    margin: 100px;
    padding: 100px;
    margin-top: 0px;
    padding-top: 0px; 
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#grid{
    display:inline-grid;
} 

.box {
    width: 20px;
    height: 20px;
    float: left; 
    border: 1px solid #000;
}
.clear {
    clear:both;
}

.butt{
    display: flex;
    align-items: center;
    justify-content: center;
}

#custome{
    margin: auto;
    padding: 10px;
}